/* Nora */
/*
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.nav-ul li a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
}

.hamburger:focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .nav-ul {
        display:none;
        flex-direction: column;
        width: 100%;
    }

    .nav-ul.show {
        display:flex;
    }

    .hamburger {
        display: block;
    }
}*/


.hambar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    /*
    overflow: hidden;
    background-color: #333;
    position: relative;*/
  }
  
  .hambar #links {
    display: flex;
  }
  
  .hambar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    flex-direction: column;
  }
  
  .hambar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .hambar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }

  .div {
      padding-left: 16px;
  }
