/* Vilde */

.mySlides {
    width: 100%;
    height: 80vh;
    align-items: center;
    object-fit: cover;
}

strong {
    font-weight: bold;
}

.box-grid {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.box-single {
    width: 360px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: flex-end;
}


.box-single:hover:before {
    opacity: 1;
}

.box-single:hover .box-caption {
    opacity: 1;

}

.box-single:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.box-single img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.box-single .box-caption {
    position: relative;
    z-index: 3;
    color: #000;
    opacity: 0;
    transform: translateY(40px);
}


