/* Totally legit styling */
#mapContainer {
  position: relative;
  /*height: 1200px;
  width: 791px;*/
}

.mapImg {
  z-index: 1;
  max-width: none;
  width: 200px; /* Tentative styling for reasonable representation */
  /*animation: createBox .025s;*/
}

/*@keyframes createBox {
  from {
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}*/


.marker {
  height: 50px;
  width: 50px;
  position: absolute;
  background-image: url("../img/marker.png");
  background-size: cover;
  /* top: 2px;
  left: 91px;*/
  opacity: 1.0;
  -moz-opacity: 1.0;
  -webkit-opacity: 1.0;
}

