/* Hedvig, Nora, Vilde */

header {

}

body{
    background-color: #ffffff;
    margin: 5%;
    font: "Futura PT", "Neue Haas Unica", Helvetica, sans-serif;
    color: #1c1c1c;
}

p, ol, ul{                      
    font-size: 20pt;
    font-style: book;
}

h1{
    font-size: 24pt;
    font-style: book;
}

h2{
    font-size: 36pt;
    font-style: demi;
}

h3{
    font-size: 18pt;
    font-style: demi;
}

h4{
    font-size: 20pt;
    font-style: book;
}

h5{
    font-size: 18pt;
    font-style: book;
}

h6{
    font-size: 16pt;
    font-style: book;
}

/* We should probably use divs and classes for some of these, instead of headers (different paragraph styles)*/