/* Hedvig, Nora, Vilde */

body {
    background-color: #ffffff;
    margin:5%;
    margin-top: 0;
    font-family: "Futura PT", "Neue Haas Unica", Helvetica, sans-serif;
    font-style: normal;
    color: #1c1c1c;
    height:100%;
}

img {
    max-width: 100%;
}

.dropDown {
    font-size: 24pt;
    background-color: white;
}

.text {
    font-size: 20pt;
}

.textBold {
    font-size: 20pt;
    font-weight: bold;
}

.textOblique {
    font-size: 20pt;
    font-style: oblique;
}

.textSmaller {
    font-size: 18pt;
}

.mail {
    font-size: 18pt;
    font-style: oblique;
}

a:link {
    color: darkblue;
}

a:hover {
    color: hotpink;
}

.timeline {
    font-size: 16pt;
}

.timelineActive {
    font-size: 18pt;
    font-weight: bold;
}

h1 {
    font-size: 36pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

#sf {
    bottom: 0;
    width: 100%;
}

.pageContent {
    min-height: 100%;
    margin: 10% auto -100px;
    
}

.footerSize, .push{
    height: 20px;
}

.copyright{
    text-align: center;
    width: 100%;
    font-size: 18pt;
    color: lightgray;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */ 
}
/* this has to be changed!!*/

/*.adresse1, .adresse2 {
    float: left;
    width: 100px;
}*/

header {
    max-width: 70%;
}

#navbar {
    overflow: hidden;
    background-color: #ffffff;
    color: #1c1c1c;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right;
    z-index: 1;
    margin-top: 0;
    max-height: 50px;
    max-width: 92%;
    margin-bottom: 40px;
  }
  
/* Navbar links */
#navbar a {
    color: #1c1c1c;
    /*text-align: right;
    max-width: 100%;*/
}

.navbarPages {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 24px;
    text-decoration: none;
    float: right;


}
  
/*.navbarContent{
    align-items: normal;
    border-bottom: 0px;
}*/

/*.navbarItems{
    text-align: left;
}*/

.navbarLogo {
    width: 220px;
    float: left;
}

/*.navbarCurrentItem {
    border-bottom: 2px solid #1c1c1c; /*dont want it to underline bark-logo
}*/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* enten navbarline eller lysgrå/mørk*/
.navbarLine > line {
    color: #1c1c1c;
}

.navbarHover {
    color: #1c1c1c;
}

li {
    list-style-type: none;
}

li.postSpace{
    margin-bottom: 10px;
}



@media screen and (min-width: 2000px) {
    .box-single {
        flex: 28%;
        flex-shrink: 0;
        margin-right: 15%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 800px) {
    .box-single {
        flex: 50%;
        max-width: 47%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .box-single {
        flex: 100%;
        max-width: 100%;
    }
}