/* Hedvig, Nora, Vilde */

header {

}

body {
    background-color: #ffffff;
    margin:5%;
    font-family: "Futura PT", "Neue Haas Unica", Helvetica, sans-serif;
    font-style: normal;
    color: #1c1c1c;
}

section {

}

img {
    max-width: 100%;
}

#navbar {
    font-size: 24pt;
    color: lightgray;
}

/* enten navbarline eller lysgrå/mørk*/
.navbarLine > line {
    color: #1c1c1c;
}

.navbarHover {
    color: #1c1c1c;
}

.dropDown {
    font-size: 24pt;
    background-color: white;
}

.text {
    font-size: 20pt;
}

.textBold {
    font-size: 20pt;
    font-weight: bold;
}

.textOblique {
    font-size: 20pt;
    font-style: oblique;
}

.textSmaller {
    font-size: 18pt;
}

.mail {
    font-size: 18pt;
    font-style: oblique;
}

a:link {
    color: darkblue;
}

a:hover {
    color: hotpink;
}

.timeline {
    font-size: 16pt;
}

.timelineActive {
    font-size: 18pt;
    font-weight: bold;
}

h1 {
    font-size: 36pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.footer {
    font-size: 18pt;
    color: lightgray;
    position: absolute;
    width: 100%;
    text-align: center;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */ 
}
/* this has to be changed!!*/

/*.adresse1, .adresse2 {
    float: left;
    width: 100px;
}*/

@media screen and (max-width: 2500px) {
    .column {
        flex: 50%;
        max-width: 47%;
    }
    .bolig p {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 47%;
    }
    .bolig p {
        flex-direction: column;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}