/* Hedvig, Nora, Vilde */


/* STYLING BODY ETC. */
/* Applies to all pages if nothing else is specified */

body {
    background-color: #ffffff;
    margin:5%;
    margin-top: 0;
    font-family: "Futura PT", "Neue Haas Unica", Helvetica, sans-serif;
    font-style: normal;
    color: #1c1c1c;
    height: 100%;
}

section {
    margin-bottom: 50px;
}

img {
    max-width: 100%;
}

/* END styling body etc. */


/* STYLING TEXT */
/* Applies to all text on the webpage if not else is specified*/

.text {
    font-size: 20px;
}

.textSmall {
    font-size: 18px;
}

.textBig {
    font-size: 24px;
}

.textBold {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;       /*this is only for contact and tegnebordet maybe??*/
}

.textOblique {
    font-size: 20px;
    font-style: oblique;
}

.mail {
    font-size: 18px;
    font-style: oblique;
}

a:link {
    color: darkblue;
}

a:hover {
    color: hotpink;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}


/* STYLING NAVBAR AND FOOTER */
/* Navbar and footer on all pages */

#stickyFooter {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
}

.containerFooter {
    flex-grow: 1;
    position: relative;
    bottom: 0;
    width: 100%;
    display: block;
}

.pageContent {
    min-height: 100%;
    margin: 10% auto -100px;
}

.footerSize, .push{
    height: 20px;
}

.copyright{
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: lightgray;
}

/*.adresse1, .adresse2 {
    float: left;
    width: 100px;
}*/

header {
    margin-bottom: 200px;
}

#navbar {
    background-color: #ffffff;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right;
}

.stickyNavbar {
    position: fixed;
    top: 0;
    margin-right: 5%;
    margin-bottom: 200px;
}

#navbar a {
    color: #1c1c1c;
}

.navbarPages {
    padding-left: 4%;
    padding-top: 24px;
    text-decoration: none;
    float: right;
    color: #1c1c1c;
}

.navbarLogo {
    width: 220px;
    float: left;
}

.navbarContent {
    margin-right: 5%;
}


@media screen and (max-width: 5000px) {
    .navbarContent {
        margin-right: 15%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1700px) {
    .navbarContent {
        margin-right: 10%;
        margin-left: 5%;
    }
}




/**#navbar {
    background-color: #c03d3d;
    color: #1c1c1c;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right;
    z-index: 1;
    margin-top: 0;
    max-height: 50px;
    max-width: 100%;
    margin-bottom: 40px;
    left:0;
    margin-right: 5%;
  }
  
/* Navbar links 
#navbar a {
    color: #1c1c1c;
}

.navbarPages {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 24px;
    text-decoration: none;
    float: right;
    color: #1c1c1c;
}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/*.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-right: 5%;
}
*/
/* enten navbarline eller lysgrå/mørk*/
.navbarLine > line {
    color: #1c1c1c;
}

.navbarHover {
    color: #1c1c1c;
}

/* END styling navbar */




/* FOOTER STYLING */

li {
    list-style-type: none;
}

li.postSpace{
    margin-bottom: 10px;
}

/* END footer styling */



/* STYLING OVERLAY */

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); /* White background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */ 
}

#overlaytitle {
    font-size: 40px;
    text-align: left;
    margin-top: 40px;
}

#overlaydetails {
    margin-top: 60px;
    font-size: 20px;
}

#overlaydescription {
    font-size: 18px;
}

#textFrame {
    background-color: none; /* making overlay see-through */
}

/* responsive overlay */

@media screen and (max-width: 800px) {
    #overlaydetails {
        font-size: 16px;
        margin-top: 60px;
    }

    #overlaytext {
        font-size: 16px;
        margin-top: 100px;
        width: 80%;
    }

    #displaybox {
        max-width: 100%;
    }

    #overlaytitle {
        font-size: 30px;
        margin-top: 20px;
    }
}

/* END of styling overlay */


/* STYLING IMAGE GRID */
/* Responsive styling for different screensizes */

@media screen and (max-width: 5000px) {
    .box-single {
        flex: 28%;
        max-width: 30%;
        max-height: 50vh;
    }
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1700px) {
    .box-single {
        flex: 50%;
        max-width: 30%;
        max-height: 40vh;
    }
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1400px) {
    .box-single {
        flex: 50%;
        max-width: 30%;
        max-height: 30vh;
    }
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1100px) {
    .box-single {
        flex: 50%;
        max-width: 47%;
        max-height: 40vh;
    }
}

@media screen and (max-width: 800px) {
    .box-single {
        flex: 100%;
        max-width: 100%;
        max-height: 60vh;
        margin-bottom: 10%;
    }
}

/* END styling image grid */



/* STYLING HJEM */

/* add styling here */

/* END of styling hjem */



/* STYLING PROJECT-PAGES */

/* add styling here */

/* END of styling project-pages */



/* STYLING DROPDOWN MENU */

/* Dropdown button */
.dropbtn {
    background-color: white;
    color: rgb(114, 114, 114);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}
  
/* Dropdown button text on hover and focus */
.dropbtn:hover, .dropbtn:focus {
    color: #1c1c1c;
}
  
/* The div container - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 113px;   /*needs to be solved differently*/
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;   /* fix */
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(228, 228, 228)
}
  
/* Show the dropdown menu */
.show {
    display:block;
}

/* END of styling dropdown menu */



/* STYLING CONTACT AND PAA_TEGNEBORDET */

/* CSS for paa_tegnebordet */

.boxTegnebordMainImg {
    max-width: 100%;
    object-fit: fill;
}

.descriptionTegnebord {
    max-width: 50%;
    float: right;
    margin: 10px;
    margin-bottom: 100px;
}

.boxTegnebordImg {
    clear: right;
    clear: left;
    float: right;
    display: flex;
    width: 70%;
    height: 400px;
    margin-bottom: 100px;
}

.nexttoTegnebord {
    float: left;
    max-width: 20%;
    margin-bottom: 100px;
}

.boxTegnebordMainImg img {
    object-fit: cover;
    width: 100%;
}

.boxTegnebordImg img {
    object-fit: cover;
    width: 100%;
}

/* CSS for contact */

.boxContact {
    clear: right;
    clear: left;
    float: right;
    display: flex;
    width: 60%;
    height: 500px;
    margin-bottom: 100px;
}

.nexttoContact {
    float: left;
    max-width: 35%;
    margin-bottom: 100px;
}

.boxContact img {
    object-fit: cover;
    width: 100%;
}

/* Responsive paa_tegnebordet and contact */

@media screen and (max-width: 1200px) {
    /*.nextto {
        float: clear;
    }*/ /*ikke nødvendig?*/

    .boxTegnebordImg, .boxContact {
        clear: right;
        clear: left;
        float: right;
        display: flex;
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    .boxContact {
        margin-bottom: 60px;
    }

    .nexttoTegnebord, .nexttoContact {
        max-width: 50%;
    }
}

@media screen and (max-width: 960px) {
    .boxTegnebordImg, .boxContact {
        clear: right;
        clear: left;
        float: right;
        display: flex;
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    .boxContact {
        margin-bottom: 60px;
    }
    
    .nexttoTegnebord, .nexttoContact, .descriptionTegnebord {
        max-width: 100%;
    }
}

/* END of styling contact and paa_tegnebordet */



/* STYLING OM OSS */

hr{
    border: none;
}

.omOssVision {
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 60px;
    float: left;
    clear: both;
}

img.omOssImage {
    object-fit: contain;
    float:left;
    position: relative;
}

.imageBoxOmOss {
    clear: right;
    float: left;
    display: flex;
    width: 70%;
    height: 100%;
    margin-bottom: 20px;
}

.employeeInfo {
    float: right;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: right;
    font-size: 18px;
}

.omOssApply{
    clear: both;
    float: left;
    width: 100%;
    clear: initial;
    font-style: italic;
}

.timeline {
    margin: auto;
    list-style-type: none;
    display: flex;
    text-align: center;
}

.timelineContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 150px 0px 30px 0px;
    
}

img.timelineBuildingImage{
    object-fit: cover;
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    position: relative;

}

.timelineContentBox{
    width: 60px;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
}

.timelineBuildingImage:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: translateY(-3px);
}

.timelineBuildingName {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #1c1c1c;
    position: relative;
    font-size: 18px;
}

.established {
    display: flex;
    justify-content: left;
    border-top: 1px solid #1c1c1c;
    position: relative;
    text-align: left;
}
    
.timelineBuildingName span, .established span {
    padding-top: 10px;
}

.timelinePoint {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.timelinePoint:nth-child(n) { /*distance between every first*/
    width: 10%;
}

.timelinePoint:nth-child(2n) { /*distance between every second*/
    width: 10%;
}

.timelinePoint:nth-child(3n) { /*distance between every third*/
    width: 10%;
}

@media (max-width: 1000px) {
    img.omOssImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
    }

    .imageBoxOmOss{
        clear: right;
        clear: left;
        float: right;
        display: flex;
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    img.timelineBuildingImage {
        width: 40px;
    }

    .timelinePoint {
        font-size: 12px;
    }
    
    .timelineContentBox{
        margin-bottom: 14px;
    }

    .timelineBuildingName, .established {
        font-size: 12px;
    }

}

@media (max-width: 1200px) {
    .timelineBuildingName, .established {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    
}



/* END of styling om oss */
