/* Hedvig, Nora, Vilde */


/* STYLING BODY ETC. */
/* Applies to all pages if nothing else is specified */

body {
    background-color: #ffffff;
    margin:0 5% 5% 5%;
    font-family: "Futura PT", "Neue Haas Unica", Helvetica, sans-serif;
    font-style: normal;
    color: #1c1c1c;
    height: 100%;
}

section {
    margin-bottom: 50px;
}

img {
    max-width: 100%;
}

/* END styling body etc. */



/* STYLING TEXT */
/* Applies to all text on the webpage if not else is specified*/

.text {
    font-size: 20px;
}

.textSmall {
    font-size: 18px;
}

.textBig {
    font-size: 24px;
}

.textBold {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

.textOblique {
    font-size: 20px;
    font-style: oblique;
}

.mail {
    font-size: 18px;
    font-style: oblique;
}

a:link {
    color: darkblue;
}

a:hover {
    color: hotpink;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

/* END styling text */



/* STYLING NAVBAR */

/* assuring that the navbar doesn't hide other elements */
header {
    margin-bottom: 150px;
}

#navbar {
    z-index: 2;
    overflow: hidden;
    position: fixed; /* so the navbar doesn't change its size when scrolling */
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    top: 0;
    left: 0; /* so the navbar fills the width */
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right;
    font-size: 20px;
}

/* sticking the navbar to the top of the browser */
.stickyNavbar {
    position: fixed;
    top: 0;
    margin-right: 5%;
    margin-bottom: 200px;
}
/*
#stickyfooter {
  position: sticky;
  bottom: 20%;
  padding-top: 20%;
}*/

#navbar a {
    color: #1c1c1c; /* assuring that the links don't change color on hover */
}

/* styling links in navbar */
.navbarPages {
    padding-left: 4%;
    padding-top: 24px;
    text-decoration: none;
    float: right;
    color: #1c1c1c;
}

.navbarPages:hover{
    text-decoration: underline;
}

/* setting size for logo image in navbar */
.navbarLogo {
    width: 220px;
    float: left;
}

/* making navbar width correspond with page width for regular screen width */
.navbarContent {
    margin-right: 5%;
    margin-left: 5%;
}

/* making navbar width correspond with page width for large screens */
@media screen and (max-width: 5000px) {
    .navbarContent {
        margin-right: 15%;
        margin-left: 15%;
    }
}

/* making navbar width correspond with page width for large screens */
@media screen and (max-width: 1700px) {
    .navbarContent {
        margin-right: 10%;
        margin-left: 10%;
    }
}

/* END styling navbar */



/* FOOTER STYLING */

#stickyFooter {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
}

.copyright {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: lightgray;
    margin-top: 10px;
}

li {
    list-style-type: none;
}

li.postSpace{
    margin-bottom: 10px;
}

/* END footer styling */



/* STYLING OVERLAY */

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); /* White background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow-y: scroll;
}

#overlaytitle {
    font-size: 40px;
    text-align: left;
    margin-top: 40px;
}

#overlaydetails {
    margin-top: 40px;
    font-size: 20px;
}

#overlaydescription {
    font-size: 18px;
    width: 45%;
    float: left;
    margin-bottom: 20px;
}

/* responsive overlay */

@media screen and (max-width: 800px) {
    #overlaydetails {
        font-size: 16px;
        margin-top: 40px;
    }

    #overlaytext {
        font-size: 16px;
        width: 80%;
    }

    #overlaytitle {
        font-size: 30px;
        margin-top: 20px;
        width: 80%;
    }

    #overlaydescription {
        width: 100%;
    }


}

/* END of styling overlay */



/* STYLING IMAGE GRID */
/* Responsive styling for different screensizes */

@media screen and (max-width: 5000px) {
    .box-single {
        flex: 28%;
        max-width: 30%;
        max-height: 50vh;
    }
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1700px) {
    .box-single {
        flex: 50%;
        max-width: 30%;
        max-height: 40vh;
    }
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1400px) {
    .box-single {
        flex: 50%;
        max-width: 30%;
        max-height: 30vh;
    }
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1100px) {
    .box-single {
        flex: 50%;
        max-width: 47%;
        max-height: 40vh;
    }
}

@media screen and (max-width: 800px) {
    .box-single {
        flex: 100%;
        max-width: 100%;
        max-height: 60vh;
        margin-bottom: 10%;
    }
    a > img {
        flex: 100%;
        max-width: 100%;
        max-height: 60vh;
        margin-bottom: 10%;
    }

    .mySlides-img {
        width: 100%;
        margin-bottom: 30px;
    }
    .mySlides-caption {
        width: 100%;
    }
}

/* END styling image grid */



/* STYLING HJEM */

/* add styling here */

/* END of styling hjem */



/* STYLING PROJECT-PAGES */

.tilbake {
    transform: translateY(36px);
}

.tilbake a {
    background-color: white;
    color: rgb(114, 114, 114);
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}

.tilbake:hover, .tilbake:focus {
    color: #1c1c1c;
}

/*style the gallery with flexbox*/
body html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*style the gallery grid and how the images will be displayed with spaces and continue to the next row when a row is full*/
.box-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: start;
    justify-content: space-between;
}

/*determine the height and width of the images, the space between the rows, */
.box-single {
    flex: 0 0 33.3%;
    height: 60vh;
    width: 5vh;
    margin: 0 0 5.5% 0;
    position: relative;
    display: flex;
    align-items: flex-end;
}

/*when hovering the images will turn back to its colors and make it more noticeable towards the user that it is possible to click on the image*/
.box-img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

/*within the page of each type of building the name and year will only be displayed when hovering*/
.box-single:hover .box-caption {
    opacity: 1;
}

/*Prosjekttype will display the type of building at all times*/
#stickyCaption > .box-single .box-caption{
    opacity: 1;
}

/*positioning and framing the images such as it follows the css of box-single, does not get distorted, and make them B&W*/
.box-single img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: grayscale(100%);
}

/*position the text underneath the image*/
.box-single .box-caption {
    position: relative;
    transform: translateY(40px);
    opacity: 0;
}
/* END of styling project-pages */



/* STYLING DROPDOWN MENU */

/* Dropdown button */
.dropbtn {
    background-color: white;
    color: rgb(114, 114, 114);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: right;
}

/* Dropdown button text on hover and focus */
.dropbtn:hover, .dropbtn:focus {
    color: #1c1c1c;
}

/* The div container - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 110px;
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 18px 4px;
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(228, 228, 228)
}

/* Show the dropdown menu */
.show {
    display:block;
}

/* END of styling dropdown menu */



/* STYLING CONTACT AND PAA_TEGNEBORDET */

/* CSS for paa_tegnebordet */

.boxTegnebordMainImg {
    max-width: 100%;
    object-fit: fill;
}

.descriptionTegnebord {
    max-width: 50%;
    float: right;
    margin: 10px;
    margin-bottom: 100px;
}

.boxTegnebordImg {
    clear: both;
    float: right;
    display: flex;
    width: 70%;
    height: 400px;
    margin-bottom: 100px;
}

.nexttoTegnebord {
    float: left;
    max-width: 20%;
    margin-bottom: 100px;
}

.boxTegnebordMainImg img {
    object-fit: cover;
    width: 100%;
}

.boxTegnebordImg img {
    object-fit: cover;
    width: 100%;
}

/* CSS for contact */

.boxContact {
    clear: both;
    float: right;
    display: flex;
    width: 60%;
    height: 500px;
    margin-bottom: 100px;
}

.nexttoContact {
    float: left;
    max-width: 35%;
    margin-bottom: 100px;
}

.boxContact img {
    object-fit: cover;
    width: 100%;
}

/* Responsive paa_tegnebordet and contact */

@media screen and (max-width: 1200px) {
    .boxTegnebordImg, .boxContact {
        clear: both;
        float: right;
        display: flex;
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    .boxContact {
        margin-bottom: 60px;
    }

    .nexttoTegnebord, .nexttoContact {
        max-width: 50%;
    }
}

@media screen and (max-width: 960px) {
    .boxTegnebordImg, .boxContact {
        clear: both;
        float: right;
        display: flex;
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    .boxContact {
        margin-bottom: 60px;
    }

    .nexttoTegnebord, .nexttoContact, .descriptionTegnebord {
        max-width: 100%;
    }
}

/* END of styling contact and paa_tegnebordet */



/* STYLING OM OSS */

hr{
    border: none;
}

.omOssVision {
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 60px;
    float: left;
    clear: both;
}

img.omOssImage {
    object-fit: cover;
    float:left;
}

.imageBoxOmOss {
    clear: right;
    float: left;
    display: flex;
    width: 60%;
    height: 100%;
    margin-bottom: 20px;
}

.employeeInfo {
    float: right;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    font-size: 18px;
}

.omOssApply{
    clear: both;
    float: left;
    width: 100%;
    font-style: italic;
}

.timeline {
    margin: auto;
    list-style-type: none;
    display: flex;
    text-align: center;
}

.timelineContainer {
    width: 100%;
    overflow: hidden;
    padding: 150px 0 30px 0;

}

img.timelineBuildingImage{
    object-fit: cover;
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    filter: grayscale(100%);
}

.timelineContentBox{
    width: 60px;
    height: 40px;
    margin-bottom: 15px;
}

.timelineBuildingImage:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: translateY(-3px);
}

.timelineBuildingName {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #1c1c1c;
    font-size: 18px;
}

.established {
    display: flex;
    justify-content: left;
    border-top: 1px solid #1c1c1c;
    text-align: left;
}

.timelineBuildingName span, .established span {
    padding-top: 10px;
}

.timelinePoint {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.timelinePoint:nth-child(n) { /*distance between every first*/
    width: 10%;
}

.timelinePoint:nth-child(2n) { /*distance between every second*/
    width: 10%;
}

.timelinePoint:nth-child(3n) { /*distance between every third*/
    width: 10%;
}

@media (max-width: 1000px) {
    img.omOssImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .imageBoxOmOss{
        clear: both;
        float: right;
        display: flex;
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    img.timelineBuildingImage {
        width: 40px;
    }

    .timelinePoint {
        font-size: 12px;
    }

    .timelineContentBox{
        margin-bottom: 14px;
    }

    .timelineBuildingName, .established {
        font-size: 12px;
    }

}

@media (max-width: 1200px) {
    .timelineBuildingName, .established {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .timelineBuildingName, .established {
        font-size: 12px;
    }
}


@media (max-width: 800px) {
    .timelineContainer {
        display: none;
    }
}

/* END of styling om oss */

/* STYLING of gallery*/

/* Nora */

