hr{
    border: none;
}

.omOssVision {
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 60px;
    float: left;
    clear: both;
}

img.omOssImage {
    object-fit: contain;
    float:left;
    position: relative;
}

.imageBoxOmOss {
    clear: right;
    float: left;
    display: flex;
    width: 70%;
    height: 100%;
    margin-bottom: 20px;
}

.employeeInfo {
    float: right;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: right;
    font-size: 18px;
}

.omOssApply{
    clear: both;
    float: left;
    width: 100%;
    clear: initial;
    font-style: italic;
}

.timeline {
    margin: auto;
    list-style-type: none;
    display: flex;
    text-align: center;
}

.timeline-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 150px 0px 30px 0px;
    
}

img.buildingImage{
    object-fit: cover;
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    position: relative;

}

.timelineContentBox{
    width: 60px;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
}

.buildingImage:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: translateY(-3px);
}

.buildingName {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #1c1c1c;
    position: relative;
    font-size: 18px;
}

.established {
    display: flex;
    justify-content: left;
    border-top: 1px solid #1c1c1c;
    position: relative;
    text-align: left;
}
    
.buildingName span, .established span {
    padding-top: 10px;
}

.timelinePoint {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.timelinePoint:nth-child(n) { /*distance between every first*/
    width: 10%;
}

.timelinePoint:nth-child(2n) { /*distance between every second*/
    width: 10%;
}

.timelinePoint:nth-child(3n) { /*distance between every third*/
    width: 10%;
}

@media (max-width: 1000px) {
    img.omOssImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
    }

    .imageBoxOmOss{
        clear: right;
        clear: left;
        float: right;
        display: flex;
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    img.buildingImage {
        width: 40px;
    }

    .timelinePoint {
        font-size: 12px;
    }
    
    .timelineContentBox{
        margin-bottom: 14px;
    }
}