header {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

body {
    background-color: white;
    color: #222211;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 200%;
}

section {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20%;
}

hr {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 10%;
    border: 0.1px;
    border-style: solid;
    border-color: lightgray;
}

p,ul {
    font-size: 20px;
}

ul {
    list-style-type: square;
}

h1 {
    font-size: 300%; /* how to fill out the width where the title should be and felxible size to different screen sizes*/
    text-transform: uppercase;
    text-align: right;
    line-height: 100%;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

h3 {
    font-size: 24px;
}

h4,h5 {
    line-height: 3px;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
}

h5 {
    font-size: 16px;
}

#title {
    margin-bottom: 50px;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: #222211;
}

a:hover {
    color: hotpink;
}

nav {
  position: relative;
  position: fixed;
  width: 100%;
  height: 95px;
  background-color: white;
  top: 0;
  /*font-size: 4vh;*/
  /*padding-bottom: 1vh;*/
  /*margin-left: 0;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.02);
  /*background: linear-gradient(180deg, rgba(2,0,46,1) 0%,rgba(9,9,121,0.5) 35%, rgba(255,255,255,0) 100%)*/
}

#logo {
  max-width: 20%;
  margin-top: 25px;
  margin-bottom: 25px;
}
