header {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

body {
    background-color: rgb(250, 250, 250);
    color: #2e2e2e;   /* #222211 */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 200%;
}

section {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20%;
}

hr {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 10%;
    border: 0.1px;
    border-style: solid;
    border-color: lightgray;
}

p, ul {
    font-size: 20px;
}

ul {
    list-style-type: square;
}

h1 {
    font-size: 300%; /* how to fill out the width where the title should be and felxible size to different screen sizes*/
    text-transform: uppercase;
    text-align: right;
    line-height: 100%;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

h3 {
    font-size: 24px;
}

h4, h5 {
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    line-height: 115%;
}

h5 {
    font-size: 16px;
}

#title {
    margin-bottom: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #222211;
}

a:hover {
    color: hotpink;
}

nav {
    position: fixed;
    width: 100%;
    height: 95px;
    background-color: rgb(250, 250, 250);
    top: 0;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .05);
}

#kontor {
    max-width: 100%;
}

#logo {
    height: 45px;
    margin-left: 10.35%;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    font-size: 16px;
    color: darkgray;
    text-align: center;
    bottom: 0;
    margin-bottom: 20px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding-left: 10px;
  padding-right: 20px;
  word-wrap: break-word;
  line-height: 2ch;
}

th {
  text-align: left;
  padding-left: 10px;
}

td + td {
  padding-top: 1ch;
}

.filelist {
  list-style: none;
}

.file {
  margin: auto;
}
.file>p {
  margin-bottom: 0;
  margin-top: 0;
}

.file>img {
  padding-right: 10px;
  margin-top: auto;
}

#navstucture {
    max-width: 100%;
}

#loading_page {
    max-width: 100%;
}

#homepage {
    max-width: 100%;
}

#projecttype {
    max-width: 100%;
}

#chronological {
    max-width: 100%;
}

#location {
    max-width: 100%;
}

#ideas {
    max-width: 100%;
}

#project_detail_view {
    max-width: 100%;
}

#paa_tegnebordet {
    max-width: 100%;
}

#about_us {
    max-width: 100%;
}

#about_us_click {
    max-width: 100%;
}

#contact {
    max-width: 100%;
}

#tablet {
    max-width: 100%;
}

#mobile {
    max-width: 50%;
}

#arbeidsfordeling>th,td {
    border: 1px solid;
    border-color: darkgray;
    border-collapse: collapse;
    padding-bottom: 20px;
    padding-top: 20px;
}