/* Nora */

.box1 {
    max-width: 100%;
    object-fit: fill;
}

p {
    max-width: 50%;
    float: right;
    margin: 10px;
    margin-bottom: 100px;
}

.box2, .box3, .box4 {
    clear: right;
    clear: left;
    float: right;
    display: flex;
    width: 70%;
    height: 400px;
    margin-bottom: 100px;
}

 img {
    object-fit: cover;
    width: 100%
 }

p.nextto {
    float: left;
    max-width: 20%;
    margin-bottom: 100px;
    /*visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    /*transition: opacity .2s, visibility .2s;*/
}
  
.hovertest:hover .nextto {
    visibility: visible;
    opacity: 1;
}

section {
    margin-bottom: 100px;
}

/*
#paa_tegnebordet_01 {
    float: left;
    height: 75px;
    width: 235px;
    font-family: Veranda;
}


p {
    float:right;
}
*/

@media (max-width: 800px) {
    .nextto {
        float: clear;
    }

    .box2, .box3, .box4 {
        clear: right;
        clear: left;
        float: right;
        display: flex;
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }

    p.nextto {
        max-width: 50%;
    }
}