
body html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.box-single {
    flex: 0 0 29.5%;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: .4s ease-out;
    margin: 5.5% 0 0 0;
}

.box-img:hover {
    filter: grayscale(0);
}

.box-single:hover .box-caption {
    opacity: 1;
}

.box-single:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.box-single img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: grayscale(100%);
}

.box-single .box-caption {
    position: relative;
    color: #000;
    transform: translateY(40px);
}
