/* Hedvig */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 30%;
    max-width: 29.5%;
}

.column img {
    margin-top: 18%;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
    height: 45%;
}

.bolig p {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 18px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 47%;
    }
    .bolig p {
        flex-direction: column;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}