
body html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.box-single {
    flex: 0 0 29.5%;
    height: 60vh;
    margin: 5.5% 0 0 0;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.box-img:hover {
    filter: grayscale(0);
}

.box-single img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: grayscale(100%);
}

.box-single .box-caption {
    position: relative;
    transform: translateY(40px);
}

.box-single .box-caption-right {
    position: absolute;
    transform: translateY(-35px) translateX(457px);
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
    .box-single {
        flex: 50%;
        max-width: 47%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .box-single {
        flex: 100%;
        max-width: 100%;
    }
}

/* gallerimeny */

