/*.dropbtn {
    background-color: white;
    color: darkgrey;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: none;
    /*z-index: 1;*/
 /* }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #fafafa;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color: black;}

*/


  .hambar {
    background-color: white;
    color: darkgrey;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .hambar {
    position: relative;
    display: inline-block;
  }
  
  .hambar-pages {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: none;
    /*z-index: 1;*/
  }
  
  .hambar-pages a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #fafafa;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color: black;}