body {
    background: #ffffff;
    width: 100%;
}

.timeline {
    margin: auto;
    list-style-type: none;
    display: flex;
    padding: 20px;
    text-align: center;
}

.timeline-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 20px 20px 30px 20px;
}

img.buildingImage{
    object-fit: cover;
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    position: relative;

}

.contentBox{
    width: 60px;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
}

/*img {
    width: 60px;
    max-height: auto;
    margin-bottom: 10px;
    position: relative;
    size: contain;
    filter: grayscale(100%);
}*/

img:hover{
    filter: grayscale(0);
    cursor: pointer;
}

.buildingName {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #1c1c1c;
    position: relative;
}

.established {
    display: flex;
    justify-content: left;
    border-top: 1px solid #1c1c1c;
    position: relative;
    text-align: left;
}
    
.buildingName span, .established span {
    padding-top: 10px;
}



.point {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.point:nth-child(n) { /*distance between every first*/
    width: 10%;
}

.point:nth-child(2n) { /*distance between every second*/
    width: 10%;
}

.point:nth-child(3n) { /*distance between every third*/
    width: 10%;
}



@media only screen and (max-width: 800px) {
    img.buildingImage {
        width: 40px;
    }
    .point {
        font-size: 12px;
    }
    .contentBox{
        margin-bottom: 14px;
    }
  }

/*.timestamp {
    width: 100%; //* for flexible width*/
    /*margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100; 
}*/